
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 0.9rem;
}

.signup_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/resources/uiu_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.signup_page_container{
    padding: 5vh;
    height: fit-content;
    width: 500px;
    max-width: 500px;
    background-color: #2c2929db;

    backdrop-filter: blur(2px);
    
}
.signup_page_container .heading{
    color: #b4b4b4;
    
}
.signup_page_container .heading h1{
    font-family: 'Concert One';
    font-size: 3rem;
    color: rgb(255, 115, 0);
    
}
.signup_page_container .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
}
.signup_page_container .buttons *{
    padding: 1.5vh;
}


@media (max-width: 600px) {
    .signup_page_container{
        
        width: 90vw;
        
    }
    .signup_page_container .buttons{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10%;
    }
}
@media (max-height: 700px) {
    .signup_page_container{
        
        height: 90vh;
        
    }
}